<% include partials/otherheader %>
<% include partials/center%>
    <div class="box">
        <%if(doc){%>
            <style>
                #toggle, #swap, #toggle2, #updateTitle, #toggle, #toggle3, #toggle4{
                    float:right;
                }
                #toggle8 {
                    float: left;
                }
            </style>
            <%if(session.user == doc.author){%>
                <form id="form1" action="/websites/delete<%=doc._id%>" method="post" style="height:10vh;">
                    <input type="submit"  id="toggle8" value="Delete" class="submit">            
                </form>
                <p></p>
            <%}%>
            <div class="header-pair">
                <h1 onclick="opendiv('updateTitle')" id="title"><%=doc.name%></h1>
                <%if(session.user == doc.author){%>
                    <form style="display:none;width:100%;padding:0" id="updateTitle" action="/websites/update<%=doc._id%>/name" method="post" onsubmit="opendiv('updateTitle')">
                        <input type="text" name="value" value="<%=doc.name%>" class="titleUpd" autocomplete="off">  
                    </form>
                <%}%>
            </div>
            <h2><%=doc.author%></h2>
            <p id="descrip" onclick="opendiv('form3')">
                <%=doc.description%>
            </p>
            <%if(session.user == doc.author){%>
                <form id="form3" style="display:none;" action="/websites/update<%=doc._id%>/description" method="post">
                    <textarea name="value" class="textarea" style="font-size:3vh;"><%=doc.description%></textarea>  
                    <input type="submit" value="Update" class="submit">
                </form> 
            <%}%>
            <%for(var i = 0; i < jobs.length; i++){%>
                <div class="inline" style="margin:0;">
                    <p><%=jobs[i].name%> </p>
                    <p style="color:transparent;"> || </p>
                    <p>Payment: $<%=jobs[i].payment%></p>
                    <p style="color:transparent;"> || </p>
                    <% if(session.user == doc.author){%>
                        <form method="post" action="/jobs<%=jobs[i]._id%>/delete<%=doc._id%>">
                            <input type="submit" class="submit" value="X">
                        </form>
                    <%}else{%>
                        <form method="post" action="/jobs<%=jobs[i]._id%>/apply<%=doc._id%>">
                            <input type="submit" class="submit" value="Apply">
                        </form>
                    <%}%>
                    <button onclick="opendiv('applicants<%=i%>')" class="submit">||</button>
                </div>
                <div id="applicants<%=i%>" style="display:none">
                    <p>Applicants:</p>
                    <%for(var y = 0; y < jobs[i].applicants.length; y++){%>
                        <div class="inline">
                            <p><%=jobs[i].applicants[y].name%></p>
                            <p style="color:transparent"> || </p>
                            <%if(session.user == doc.author){%>
                                <form action="/jobs<%=jobs[i]._id%>/delApp<%=doc._id%>/<%=jobs[i].applicants[y].name%>" method="post">
                                    <input type="submit" class="submit" value="Deny">
                                </form>
                            <%}%>
                        </div>
                    <%}%>
                </div>
            <%}%>
            <%if(session.user == doc.author){%>
                <button type="button" class="submit" onclick="opendiv('newJobs')">Add job</button>
                <form method="post" action="/jobs/create<%=doc._id%>" id="newJobs" style="display:none;">
                    <div class="inline">
                        <input type="text" name="name" placeholder="Job name" class="titleUpd">
                        <input type="number" name="payment" placeholder="Payment (USD)" class="titleUpd">
                        <button class="submit" style="padding:0vh 1vw;"><i class="material-icons">done</i></button>
                    </div>
                </form>
            <%}%>
            <% include partials/error%>
        <%}else{%>
            <p>Sorry, Website not found</p>
        <%}%>
    </div>
<% include partials/footer %>